<html>
  <body>
    <h1>Sorry! Your account was denied!</h1>
    <p>
      Hello <%= @trader.email %>,
    </p>
    <p>
      We regret to inform you that your account has been denied. You may call our hotline .
    </p>
    <p>
      Thank you for your patience.
    </p>
  </body>
</html>
