<div>
  <p>
    <strong>Email:</strong>
    <%= user.email%>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user.gender%>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address%>
  </p>

  <p>
    <strong>Cellphone Number:</strong>
    <%= user.cp_number%>
  </p>

</div>