<p style="color: green"><%= notice %></p>

<%= render @stock %>

<div>
  <%= button_to "Buy this stock", buy_trader_stock_path(@stock.id), method: :post %>
  <br>
  <%= link_to "Back to stocks", stocks_path %>
</div>
