<div id="<%= dom_id secured_asset %>">
  <p>
    <strong>Trader number:</strong>
    <%= secured_asset.trader_number %>
  </p>

  <p>
    <strong>Carrots:</strong>
    <%= secured_asset.carrots %>
  </p>

</div>
