<%= form_with(model: trader_stock) do |form| %>
  <% if trader_stock.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trader_stock.errors.count, "error") %> prohibited this trader_stock from being saved:</h2>

      <ul>
        <% trader_stock.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
