<% content_for :title, "New trader stock" %>

<h1>New trader stock</h1>

<%= render "form", trader_stock: @trader_stock %>

<br>

<div>
  <%= link_to "Back to trader stocks", trader_stocks_path %>
</div>
